<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Login Page 2 | Creative - Bootstrap 3 Responsive Admin Template</title>

    <!-- Bootstrap CSS -->    
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/assets/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/assets/elegant-icons-style.css" rel="stylesheet" />
    <link href="/assets/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/assets/style.css" rel="stylesheet">
    <link href="/assets/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
<<<<<<< HEAD
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <!-[endif]-->
    <script src="/assets/html5shiv.js"></script>
    <script src="/assets/respond.min.js"></script>
    <!--[endif]-->
    <script type="text/javascript" src="/assets/jquery-1.8.3.min.js"></script>
</head>
   <br/><br/><br/><br/>
  <body class="login-img3-body">

    <div class="container">

         <div class="row">
             <div class="col col-md-4 col-md-offset-4">

               <%= form_for :personel, :url => {:action => 'authenticate'} do |f| %>
       
        <div class="login-wrap">
            <p class="login-img col col-md-offset-4"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>              
              <%= f.text_field :username, class: 'form-control round-input'%>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <%= f.password_field  :password, class: 'form-control round-input'%>
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <%= f.submit 'Login', class: 'btn btn-primary' %>
            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </div>
      <% end %>
                 
             </div>
         </div>

      

    </div>


  </body>
</html>
