<!-- page start-->
   
      <section id="main-content">
      <section class="wrapper">
      <div class="row">
      <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa-search" style="color:#2edb67"></i>Search By Partner Organization</h3>
      <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="index.html">Dashboard</a></li>
      <li><i class="fa fa-table"></i>Table</li>
      <li><i class="fa fa-th-list"></i>Partner Organization</li>
      </ol>
      </div>
      </div>
              


      <div class="row">
   
   <div class="col-md-9 col-md-offset-3">
    

                              <div class="form-horizontal">
                                <%= form_tag :action => 'search_by_partner_query' do %>
                              
                               <div class="row"> <br/>
                               <div class="col col-md-2">
                        
                               <button class="btn btn-success" data-label-placement><strong>Organization :</strong></button>
                                 
                                 
                               </div>        
                                <div class="col col-md-10 "><i class="fa fa-search">
                                <%= select "partners", "partnername", [[ "USAID", "usaid"],["UNICEF", "unicef"],["UKAID","ukaid"],
                                ["Concern Universal concern universal this is concern universal elongated","concern universal this is concern universal elongated"]]%></i>
                               </div>

                                 </div>
 
                               <br/><br/>
                              <div class="col col-md-8 col-sm-offset-1">
                               <a class=" col col-md-3 btn btn-primary" href="#">
                               <%= submit_tag 'search', class: 'btn btn-primary' %></a>
                              </div>
                               </div>
                               
                               

   
                            </div>
             <% end %>
      
    </div>  
    <br/><br/>
  


    <br/><br/><br/><br/>
   
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
   
   <br/><br/><br/><br/>


    <br/><br/><br/><br/>
   
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
   
   <br/><br/><br/><br/>

                       

   </div>
</section>