

 <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br/><br/><br/>
            <h3><i class="fa fa-university">Search by Partner Organization</i></h3>
            <div class="form-horizontal">
                                <%= form_tag :action => 'search_by_zone_query' do %>
                              
                               <div class="row"> <br/>
                               <div class="col col-md-3">
                                 <label for = "partner_name"><h4>Organization :</h4>
                                 </label>
                               </div>
                                         
                                <div class="col col-md-6 ">
                                <%= select "partners", "partnername", [[ "USAID", "usaid"],["UNICEF", "unicef"],["UKAID","ukaid"],
                                ["Concern Universal","concern universal"]]%>
                               </div>

                                 </div>
                            
                                 <div class="row"> <br/>
                                 <div class="col col-md-3">
                              
                                 </div>
                                <div class="col col-md-3">

                                <%= submit_tag 'Search', class: 'btn btn-primary' %>
                                   
                                 </div>
                               <div class="col col-md-2 btn btn-success">
                              <a href="/facilities/index"><i class="fa fa-arrow-left">Back</i></a>
                               </div>
                             </div>      
                              <% end %>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-4">
                                

                                </div>
                                <div class="col-md-4">
                                    

                                </div>
                                <div class="col-md-4">
                                

                                </div>
                            </div>
                            <br/><br/><br/>
                            
                             <div class="panel-body">
                              <button type="button" class="btn btn-primary btn-lg btn-block"><a href="/facilities/search_by_partner">Partner Organization</a></button>
                              <button type="button" class="btn btn-danger btn-block"><a href="/facilities/searchbydistrict">Search by District</a></button>
                              <button type="button" class="btn btn-success btn-block"><a href="/facilities/search_by_zone">Search by Zone</a></button>
                          </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>