
<div class="container">
 <div class="row">
 <br/><br/><br/><br/>
   <div class="col col-md-offset-2 col-md-10">

     <h3 class="col-md-offset-4">Select partner from drop down</h3>
 
    <div class="form-horizontal">
      <%= form_tag :action => 'search_by_partner_query' do %>
      
    <div class="row"> <br/>
       <div class="col col-md-6">
         <label for = "partner_name">Partner name:</label>
       </div>
                 
       <div class="col col-md-6 ">
        <%= select "partners", "partnername", [[ "USAID", "usaid"],["UNICEF", "unicef"],["UKAID","ukaid"],["Concern Universal","concern universal"]]%>
       </div>

    </div>
    


    <div class="row"> <br/>
      <div class="col col-md-2">
         
       </div>
       <div class="col col-md-4">
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
              
       </div>
       <div class="col col-md-1 btn btn-warning">
      <a href="">Cancel</a>
              
       </div>
    </div>      
      <% end %>
    </div>
   </div>
 </div>
  
</div>