<div class="container">
  <div class="row">
    
    <div class="col col-md-offset-0 col-md-12">
    <br/><br/><br/><br/>
    <fieldset>
 <h3 class="page-header"><i class="fa fa-th-list" style="color:#2edb67;"></i>FACILITY RESOURCES</h3>

<div class="col col-md-offset-0 col-md-4">

  <fieldset style="border: 1px solid #eee;">
  <table style="margin: auto;" cellpadding="10" cellspacing="5">
    <tr>
      <td colspan="3">
      </td>
    </tr>

<tr><td colspan="3" >
    <h5><strong>Facility details</strong></h5>
    </td>
    </tr>

    <tr>
      <td>
        <strong>Resource name:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @resource.name %>
      </td>
    </tr>

    <tr>
     

    
      
      </tr>
      <tr><td> <br/></td></tr>
      </table>
  

  </fieldset>
</div>


</div>
</div>





</div>

    </form>
   </div>
  </div>

